In [38]:
# Import the dependencies.
import pandas as pd
import gmaps
import requests
# Import the API key.
from config import g_key

In [39]:
# Store the CSV you saved created in part one into a DataFrame.
city_data_df = pd.read_csv("weather_data/cities.csv")
city_data_df.head(10)

,City_ID,City,Country,Date,Lat,Lng,Max Temp,Humidity,Cloudiness,Wind Speed
0,0,Ndioum,SN,2022-02-02 20:25:40,16.5129,-14.6471,86.88,10,98,11.18
1,1,Caiaponia,BR,2022-02-02 20:25:41,-16.9567,-51.8103,79.39,72,46,9.71
2,2,San Luis,AR,2022-02-02 20:25:41,-33.2950,-66.3356,73.47,51,100,16.37
3,3,Arlit,NE,2022-02-02 20:25:42,18.7369,7.3853,65.79,14,0,12.50
4,4,Dikson,RU,2022-02-02 20:25:42,73.5069,80.5464,-8.28,98,97,10.80
5,5,Ushuaia,AR,2022-02-02 20:25:16,-54.8000,-68.3000,47.86,57,75,17.27
6,6,Patti,IN,2022-02-02 20:25:43,31.2808,74.8572,53.67,70,91,7.96
7,7,Albany,US,2022-02-02 20:22:10,42.6001,-73.9662,45.73,72,89,3.00
8,8,Rikitea,PF,2022-02-02 20:24:59,-23.1203,-134.9692,77.94,74,100,5.93
9,9,Provideniya,RU,2022-02-02 20:25:43,64.3833,-173.3000,3.74,67,1,22.95

In [40]:
city_data_df.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 574 entries, 0 to 573
Data columns (total 10 columns):
 #   Column      Non-Null Count  Dtype
---  ------      --------------  -----
 0   City_ID     574 non-null    int64
 1   City        574 non-null    object
 2   Country     567 non-null    object
 3   Date        574 non-null    object
 4   Lat         574 non-null    float64
 5   Lng         574 non-null    float64
 6   Max Temp    574 non-null    float64
 7   Humidity    574 non-null    int64
 8   Cloudiness  574 non-null    int64
 9   Wind Speed  574 non-null    float64
dtypes: float64(4), int64(3), object(3)
memory usage: 45.0+ KB

In [41]:
# Configure gmaps to use your Google API key.
gmaps.configure(api_key=g_key)

In [42]:
# Get the maximum temperature.
max_temp = city_data_df["Max Temp"]
temps = []
for temp in max_temp:
    temps.append(max(temp, 0))

In [43]:
# Heatmap of temperature
# Get the latitude and longitude.
locations = city_data_df[["Lat", "Lng"]]
# Get the maximum temperature.
max_temp = city_data_df["Max Temp"]
# Assign the figure variable.
fig = gmaps.figure(center=(30.0, 31.0), zoom_level=1.5)
# Assign the heatmap variable.
# heat_layer = gmaps.heatmap_layer(locations, weights=temps),可以简写为
# heat_layer = gmaps.heatmap_layer(locations, weights=[max(temp, 0) for temp in max_temp])
heat_layer = gmaps.heatmap_layer(locations, weights=[max(temp, 0) for temp in max_temp], dissipating=False, max_intensity=300, point_radius=4)

# Add the heatmap layer.
fig.add_layer(heat_layer)

# Call the figure to plot the data.
fig

Figure(layout=FigureLayout(height='420px'))

In [44]:
# Heatmap of percent humidity
locations = city_data_df[["Lat","Lng"]]
humidity = city_data_df["Humidity"]

# Adjust Heatmap Zoom
fig = gmaps.figure(center = (30.0, 31.0), zoom_level =1.5)

# Assign the heatmap variable.
heat_layer = gmaps.heatmap_layer(locations, weights=humidity, dissipating=False,
                                max_intensity=300, point_radius=4)

# Add the heatmap layer
fig.add_layer(heat_layer)

fig

Figure(layout=FigureLayout(height='420px'))

In [45]:
# Heatmap of percent cloudiness
locations = city_data_df[["Lat","Lng"]]
clouds = city_data_df["Cloudiness"]

# Adjust Heatmap Zoom
fig = gmaps.figure(center = (30.0, 31.0), zoom_level =1.5)

# Assign the heatmap variable.
heat_layer = gmaps.heatmap_layer(locations, weights=clouds, dissipating=False,
                                max_intensity=300, point_radius=4)

# Add the heatmap layer
fig.add_layer(heat_layer)

fig

Figure(layout=FigureLayout(height='420px'))

In [46]:
# Heatmap of percent wind speed
locations = city_data_df[["Lat","Lng"]]
wind = city_data_df["Wind Speed"]

# Adjust Heatmap Zoom
fig = gmaps.figure(center = (30.0, 31.0), zoom_level =1.5)

# Assign the heatmap variable.
heat_layer = gmaps.heatmap_layer(locations, weights=wind, dissipating=False,
                                max_intensity=300, point_radius=4)

# Add the heatmap layer
fig.add_layer(heat_layer)

fig

Figure(layout=FigureLayout(height='420px'))

In [50]:
# Ask the customer to add a minimum and maximum temperature value.
min_temp = float(input("What is the minimum temperature you would like for your trip? "))
max_temp = float(input("What is the maximum temperature you would like for your trip? "))

What is the minimum temperature you would like for your trip? 40
What is the maximum temperature you would like for your trip? 99

In [51]:
# Filter the dataset to find the cities that fit the criteria.
preferred_cities_df = city_data_df.loc[(city_data_df["Max Temp"] >= min_temp) & (city_data_df["Max Temp"] <= max_temp)]
preferred_cities_df.head(10)

,City_ID,City,Country,Date,Lat,Lng,Max Temp,Humidity,Cloudiness,Wind Speed
0,0,Ndioum,SN,2022-02-02 20:25:40,16.5129,-14.6471,86.88,10,98,11.18
1,1,Caiaponia,BR,2022-02-02 20:25:41,-16.9567,-51.8103,79.39,72,46,9.71
2,2,San Luis,AR,2022-02-02 20:25:41,-33.2950,-66.3356,73.47,51,100,16.37
3,3,Arlit,NE,2022-02-02 20:25:42,18.7369,7.3853,65.79,14,0,12.50
5,5,Ushuaia,AR,2022-02-02 20:25:16,-54.8000,-68.3000,47.86,57,75,17.27
6,6,Patti,IN,2022-02-02 20:25:43,31.2808,74.8572,53.67,70,91,7.96
7,7,Albany,US,2022-02-02 20:22:10,42.6001,-73.9662,45.73,72,89,3.00
8,8,Rikitea,PF,2022-02-02 20:24:59,-23.1203,-134.9692,77.94,74,100,5.93
10,10,Hilo,US,2022-02-02 20:21:42,19.7297,-155.0900,78.53,70,40,0.00
12,12,Punta Arenas,CL,2022-02-02 20:25:44,-53.1500,-70.9167,51.82,87,75,10.36

In [52]:
preferred_cities_df.count()

City_ID       392
City          392
Country       385
Date          392
Lat           392
Lng           392
Max Temp      392
Humidity      392
Cloudiness    392
Wind Speed    392
dtype: int64

In [53]:
# Create DataFrame called hotel_df to store hotel names along with city, country, max temp, and coordinates.
hotel_df = preferred_cities_df[["City", "Country", "Max Temp", "Lat", "Lng"]].copy()
hotel_df["Hotel Name"] = ""
hotel_df.head(10)

            City Country  Max Temp      Lat       Lng Hotel Name
0         Ndioum      SN     86.88  16.5129  -14.6471
1      Caiaponia      BR     79.39 -16.9567  -51.8103
2       San Luis      AR     73.47 -33.2950  -66.3356
3          Arlit      NE     65.79  18.7369    7.3853
5        Ushuaia      AR     47.86 -54.8000  -68.3000
6          Patti      IN     53.67  31.2808   74.8572
7         Albany      US     45.73  42.6001  -73.9662
8        Rikitea      PF     77.94 -23.1203 -134.9692
10          Hilo      US     78.53  19.7297 -155.0900
12  Punta Arenas      CL     51.82 -53.1500  -70.9167

In [54]:
# Set parameters to search for a hotel.
params = {"radius":5000, "type":"lodging", "key":g_key}

In [58]:
# Iterate through the DataFrame.
for index, row in hotel_df.iterrows():
    # Get the latitude and longitude.
    lat = row["Lat"]
    lng = row["Lng"]

    # Add the latitude and longitude to location key for the params dictionary.
    params["location"] = f"{lat},{lng}"

    # Use the search term: "lodging" and our latitude and longitude.
    base_url = "https://maps.googleapis.com/maps/api/place/nearbysearch/json"
    # Make request and get the JSON data from the search.
    hotels = requests.get(base_url, params=params).json()
    # Grab the first hotel from the results and store the name.
    try:
        hotel_df.loc[index, "Hotel Name"] = hotels["results"][0]["name"]
    except (IndexError):
        print("Hotel not found... skipping.")

Hotel not found... skipping.
Hotel not found... skipping.
Hotel not found... skipping.
Hotel not found... skipping.
Hotel not found... skipping.
Hotel not found... skipping.
Hotel not found... skipping.
Hotel not found... skipping.
Hotel not found... skipping.
Hotel not found... skipping.
Hotel not found... skipping.
Hotel not found... skipping.
Hotel not found... skipping.
Hotel not found... skipping.
Hotel not found... skipping.
Hotel not found... skipping.
Hotel not found... skipping.
Hotel not found... skipping.
Hotel not found... skipping.
Hotel not found... skipping.
Hotel not found... skipping.
Hotel not found... skipping.
Hotel not found... skipping.
Hotel not found... skipping.
Hotel not found... skipping.
Hotel not found... skipping.

In [76]:
# Create the output file (CSV).
output_data_file = "weather_data/hotel.csv"
# Export the City_Data into a CSV.
hotel_df.to_csv(output_data_file)

In [72]:
hotel_df.head(10)

,City,Country,Max Temp,Lat,Lng,Hotel Name
0,Ndioum,SN,86.88,16.5129,-14.6471,l'hôtel samassa
1,Caiaponia,BR,79.39,-16.9567,-51.8103,HOTEL PALACE AVENIDA & CAIAPÓ TURISMO
2,San Luis,AR,73.47,-33.2950,-66.3356,Huarpes Hotel
3,Arlit,NE,65.79,18.7369,7.3853,Case de Passage De la Prefecture
5,Ushuaia,AR,47.86,-54.8000,-68.3000,Albatross Hotel
6,Patti,IN,53.67,31.2808,74.8572,harike air travel
7,Albany,US,45.73,42.6001,-73.9662,
8,Rikitea,PF,77.94,-23.1203,-134.9692,People ThankYou
10,Hilo,US,78.53,19.7297,-155.0900,Hilo Hawaiian Hotel
12,Punta Arenas,CL,51.82,-53.1500,-70.9167,Hotel Hain

In [80]:
hotel_df.count()

City          392
Country       385
Max Temp      392
Lat           392
Lng           392
Hotel Name    392
dtype: int64

In [85]:
import numpy as np
hotel_df["Hotel Name"].replace("", np.NaN, inplace=True)
hotel_df.head(10)

,City,Country,Max Temp,Lat,Lng,Hotel Name
0,Ndioum,SN,86.88,16.5129,-14.6471,l'hôtel samassa
1,Caiaponia,BR,79.39,-16.9567,-51.8103,HOTEL PALACE AVENIDA & CAIAPÓ TURISMO
2,San Luis,AR,73.47,-33.2950,-66.3356,Huarpes Hotel
3,Arlit,NE,65.79,18.7369,7.3853,Case de Passage De la Prefecture
5,Ushuaia,AR,47.86,-54.8000,-68.3000,Albatross Hotel
6,Patti,IN,53.67,31.2808,74.8572,harike air travel
7,Albany,US,45.73,42.6001,-73.9662,NaN
8,Rikitea,PF,77.94,-23.1203,-134.9692,People ThankYou
10,Hilo,US,78.53,19.7297,-155.0900,Hilo Hawaiian Hotel
12,Punta Arenas,CL,51.82,-53.1500,-70.9167,Hotel Hain

In [86]:
hotel_df = hotel_df.dropna(how = "any")
hotel_df.head(10)

,City,Country,Max Temp,Lat,Lng,Hotel Name
0,Ndioum,SN,86.88,16.5129,-14.6471,l'hôtel samassa
1,Caiaponia,BR,79.39,-16.9567,-51.8103,HOTEL PALACE AVENIDA & CAIAPÓ TURISMO
2,San Luis,AR,73.47,-33.2950,-66.3356,Huarpes Hotel
3,Arlit,NE,65.79,18.7369,7.3853,Case de Passage De la Prefecture
5,Ushuaia,AR,47.86,-54.8000,-68.3000,Albatross Hotel
6,Patti,IN,53.67,31.2808,74.8572,harike air travel
8,Rikitea,PF,77.94,-23.1203,-134.9692,People ThankYou
10,Hilo,US,78.53,19.7297,-155.0900,Hilo Hawaiian Hotel
12,Punta Arenas,CL,51.82,-53.1500,-70.9167,Hotel Hain
13,Vangaindrano,MG,72.88,-23.3500,47.6000,Hotel Fanilo

In [87]:
hotel_df.count()

City          359
Country       359
Max Temp      359
Lat           359
Lng           359
Hotel Name    359
dtype: int64

In [88]:
# Add a heatmap of temperature for the vacation spots.
locations = hotel_df[["Lat", "Lng"]]
max_temp = hotel_df["Max Temp"]
fig = gmaps.figure(center=(30.0, 31.0), zoom_level=1.5)
heat_layer = gmaps.heatmap_layer(locations, weights=max_temp, dissipating=False,
             max_intensity=300, point_radius=4)

fig.add_layer(heat_layer)
# Call the figure to plot the data.
fig

Figure(layout=FigureLayout(height='420px'))

In [93]:
# Add a heatmap of temperature for the vacation spots and marker for each city.
locations = hotel_df[["Lat", "Lng"]]
max_temp = hotel_df["Max Temp"]
fig = gmaps.figure(center=(30.0, 31.0), zoom_level=1.5)
heat_layer = gmaps.heatmap_layer(locations, weights=max_temp,
             dissipating=False, max_intensity=300, point_radius=4)

marker_layer = gmaps.marker_layer(locations)
fig.add_layer(marker_layer)
    
fig.add_layer(heat_layer)

# Call the figure to plot the data.
fig

AttributeError: module 'collections' has no attribute 'Iterable'

In [92]:
info_box_template = """
<dl>
<dt>Hotel Name</dt><dd>{Hotel Name}</dd>
<dt>City</dt><dd>{City}</dd>
<dt>Country</dt><dd>{Country}</dd>
<dt>Max Temp</dt><dd>{Max Temp} °F</dd>
</dl>
"""

# Store the DataFrame Row.
hotel_info = [info_box_template.format(**row) for index, row in hotel_df.iterrows()]

# Add a heatmap of temperature for the vacation spots and a pop-up marker for each city.
locations = hotel_df[["Lat", "Lng"]]
max_temp = hotel_df["Max Temp"]
fig = gmaps.figure(center=(30.0, 31.0), zoom_level=1.5)
heat_layer = gmaps.heatmap_layer(locations, weights=max_temp,dissipating=False,
             max_intensity=300, point_radius=4)
marker_layer = gmaps.marker_layer(locations, info_box_content=hotel_info)
fig.add_layer(heat_layer)
fig.add_layer(marker_layer)

# Call the figure to plot the data.
fig

AttributeError: module 'collections' has no attribute 'Iterable'